/* Sets everything to border-box */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #8c8c9d;
    background:url('./city.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;  
    /* margin: 20px;
    padding: 20px; */
}

/* CSS Styling for header & Nav Tabs */
.subnav-hero-section {
    text-align: center;
    background: #1779BA;
    background-size: cover;
    width: 100%;
    margin: 0 auto ;
    padding-top: 20px;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }

  .subnav-hero-section .subnav-hero-headline {
    color: #FEFEFE;
  }

  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }

  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }

  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #FEFEFE;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }

  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }

  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }

  .container {
    background-color: #1779BA;
    border-radius: 20px;
    border: 2px gray solid;
    padding: 20px;
    align-items: center;
    width: 90%;
    margin-left:20px;
    padding-top:20px ;
  }

  .lyric-search {
    width: 90%;
    margin: 0 auto;
  }

  .mysearch, .input-group {
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    margin: 10 auto;
    margin-left:20px;
    background-color: #ffff;
  }

  .mysearch {
    background-color: #1779BA;
    border-bottom-right-radius: 10px;
    border: 2px gray solid;
    border-radius: 20px;
  }

  .subheader{
      color: grey;
      font-size: 20px;
      letter-spacing: 2px;
  }
  .subheader {
    background-color:#1779BA;
    color: white;
    /* font-weight: bold; */
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }

  /* #song1{
    font-size: 18px;
  } */
  @media screen and (max-width: 375px) {
    .subnav-hero-section {
      width: 40%;
      margin: 10px;
      position: relative 10px;;
      padding: 0 auto;
    }
  }
