/* Sets everything to border-box */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: rbg(196, 180, 203);
    margin: 20px;
    padding: 20px;
    margin: 20px;
    
}
